
@import "vars";
@import "fonts";

//Custom styles here
body.common-home {

}
header {
  background-color: $main-color;
  .col-sm-4 {
    li {
      display: inline-block;
      list-style: none;
      float: right;
      padding-left: 10%;
      margin-top: 7px;
      font-size: 1.6rem;
      a {
        text-decoration: none;
        list-style: none;
        color: #0e06ac !important;
      }
    }
    .dropdown-menu {
     >li {
       a {
         padding-left: 10px;
       }
     }
    }
  }
  #search {
    input {
      background-color: #deddf7;
      height: 34px;
      margin-top: 5px;
      color: whitesmoke;
      &::placeholder {
        font-size: 1.5rem;
      }
      &:focus {
        background-color: #c9c7fd;
      }
    }
    .input-group-btn {
      button {
        background-color: #deddf7;
        height: 34px;
        margin-top: 5px;
        border: 1px solid #b6b3eb;
        .fa {
          position: relative;
          top: -6px;
          color: $main-color;
        }
      }
    }
  }
}
nav#top {
  background-color: $main-color-darken;
  .col-sm-9 {
    ul.nav {
      margin-top: 14px;
      li {
        background-color: transparent;
        border: none;
        &:focus {
          background-color: #5674b9;
          border: none;
          border-radius: 6px;
        }
        &:active {
          background-color: #5674b9;
          border: none;
          border-radius: 6px;
        }
        .active {
          background-color: #5674b9 !important;
          border-radius: 6px;
        }
        a {
          list-style: none;
          text-decoration: none;
          color: whitesmoke;
          transition: all .3s;
          &:hover {
            background-color: #5674b9 !important;
            border-radius: 6px;
          }
        }
      }
    }
  }
  .col-sm-3 {
    button {
      background-color: #0e06ac;
      color: $main-color;
      font-size: 1.5rem;
      width: 70%;
      float: right;
      margin-top: 18px;
    }
  }
}
.owl-wrapper-outer {
  border: none;
  box-shadow: none;
  border-radius: 0;
}
.owl-prev,
.owl-next {
  color: #01a0e4;
}
aside {
  .list-group {
    .list-group-item {
      background-color: #eeeef9;
      margin-top: 3px;
      border-radius: 6px;
      color: $main-color-darken;
      border: none;
      transition: all .3s ease;
      &:hover {
        background-color: $main-color;
        color: whitesmoke;
      }
    }

      ul.advantages {
        padding: 0;
          p {
            background-color: $main-color-darken;
            color: whitesmoke;
            border-radius: 6px;
            padding: 10px;
          }
        li {
          text-decoration: none;
          list-style: none;
          padding: 0;
          margin-top: 40px;
          span {
            text-align: center;
            font-size: 1.6rem;
            text-transform: uppercase;
            color: $main-color;
            display: inline-block;
            margin-bottom: 10px;
            .fa {
              font-size: 1.3rem;
            }
          }
        }
    }
    .category {
      margin-top: 110px;
      margin-bottom: 30px;
      color: $main-color-darken;
      text-transform: uppercase;
      text-align: left;
      margin-left: 10px;
      font-size: 1.8rem;
      &::after {
        content: "";
        display: inline-block;
        position: absolute;
        width: 50px;
        margin-left: 10px;
        margin-top: 14px;
        height: 2px;
        background-color: $main-color-darken;
      }
      &::before {
        content: "";
        display: inline-block;
        width: 50px;
        height: 2px;
        margin-right: 10px;
        background-color: $main-color-darken;
      }
    }
  }
}
#content {
  .row-sort {
    margin-bottom: 60px;
  }
  h3 {
    margin-top: 60px;
    margin-bottom: 110px;
    color: #41535b;
    font-size: 2rem;
    text-transform: uppercase;
    text-align: center;
  }
  .product-layout {
    position: relative;
    margin-top: -40px;
    &:hover {
      z-index: 5;
      .button-group {
        position: relative;
        z-index: 5;
      }
    }
    >.product-thumb {
      //для того чтобы при наведении элемент не менял размеры
      border: 1px solid transparent;
      transition: all .3s ease;
      &:hover {
        transform: scale(1.01);
        box-shadow: 8px -2px 38px -1px rgba(228,227,230,1);
        border-radius: 6px;
        .button-group {
          transform: scale(1);
        }
      }
    }
    .caption {
      text-align: center;
      p {
        display: none;
        .price-tax {
          display: none;
        }
        &.price {
          display: block;
          font-size: 18px;
          .price-old {
            font-size: 1.3rem;
            text-decoration: line-through;
          }
        }
      }
    }
    .ribbon {
      position: absolute;
      float: right;
      top: 1px;
      background-color: red;
      padding: 10px;
      opacity: 0.8;
      span {
        display: block;
        font-size: 14px;
        color: whitesmoke;
      }
      .stock {
        font-size: 18px !important;
      }
    }
    .image {
      padding: 10px;
    }
    //оформление элемента "акция" который добавлен через js
    //.stock {
    //  position: absolute;
    //  background-color: red;
    //  color: whitesmoke;
    //  font-size: 1.6rem;
    //  padding: 8px;
    //}
    .button-group {
      transform: scale(0);
      display: block;
      bottom: 0;
      padding: 10px;
      background-color: white;
      button {
        width: 100%;
        height: 43px;
        background-color: transparent;
        border: 1px solid $main-color-darken;
        color: $main-color-darken;
        border-radius: 50px;
        transition: all .3s ease;
        &:hover {
          background-color: $main-color-darken;
          color: whitesmoke;
        }
      }
      .button-toclick {
        display: block;
        width: 100%;
        height: 43px;
        margin-top: 5px;
        border: 1px solid $main-color-darken;
        border-radius: 50px;
        background-color: transparent;
        color: $main-color-darken;
        text-align: center;
        padding-top: 10px;
        text-decoration: none;
        transition: all .3s ease;
        &:hover {
          background-color: $main-color-darken;
          color: whitesmoke;
        }
      }
      :not(:nth-of-type(1)) {
        display: none;
      }
    }
  }
}
footer {
  .row-top {
    background-color: #212121;
    color: #c0c0c0;
    h5 {
      font-size: 2rem;
      
    }
    ul {
      margin-top: 20px;
      line-height: 2.4rem;
      li {
        a {
          list-style: none;
          text-decoration: none;
          color: #c0c0c0;
          &:hover {
            color: #01a0e4;
          }
        }
      }
    }
    .site-phone {
      font-size: 1.6rem;
      margin-top: 20px;
    }
    h2 {
      font-size: 2rem;
      margin-top: 10px;
      margin-bottom: 20px;
    }

    form {
      input {
        margin-top: 20px;
      }
      input[type="text"],textarea {
        border: none;
        border-bottom: 1px solid ghostwhite;
        background-color: transparent !important;
        font-size: 1.4rem;
        overflow: hidden;
        padding: 0;
        width: 100%;
        color: navajowhite;
        &:focus {
          outline: none !important;
        }
        &::placeholder {
          color: antiquewhite;
          font-size: 1.4rem;
        }
      }
      button {
        background-color: transparent;
        width: 150px;
        color: #01a0e4;
        border-color: #01a0e4;
        margin-top: 30px;
        margin-bottom: 20px;
        border-radius: 20px;
        transition: all .3s ease;
        &:hover,
        :focus,
        :active {
          background-color: transparent;
          border-color: whitesmoke;
          color: whitesmoke;
        }
      }
    }
  }
  .row-bottom {
    background-color: #131313;
    color: #3cb0fd;
  }
}

@import "media";
